*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 700;
  font-size: 1.5rem; 
}

button{
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 5px; 
  border-radius: 4px;
}

p {
  font-weight: 400; 
  font-size: 1rem;
  color: #394150; 
}

.medium-text {
  font-weight: 500; 
}

.semibold-text {
  font-weight: 600; 
}


body{
  background-image: url(resources/background-image.png);
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  padding: 2.5rem;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
  margin-bottom: 2rem;
}

header :nth-child(2){
  background-color: rgb(50, 49, 49);
  padding: 5px;
  border-radius: 20px;
}

main{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
  border-radius: 20px;
  margin-bottom: 40px;
}

.cart-items{
  margin-bottom: 1rem;
}

.item-section{
  background-color: #D2D5DA;
  padding: 1.5rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px ;
}

.item-info{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.img-container{
  width: 80px;
  height: 80px;
  background-color: white;
  box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05);
  padding: 1rem;
  display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img{
 max-width: 50px;
 max-height: 60px;
}

.left-stuff{
  display: flex;
  gap: 1rem;
}

.amount, .item-specifics{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.separator{
  margin-top: 1rem;
}

.coupon-section{
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 1rem;
}

.coupon-section input{
  width: 80%;
  padding: 8px 5px; 
  border-radius: 4px;
  border: none;
}

.coupon-section button{
  width: 20%;
}

.bill{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
  
.form-section{
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px ;
  padding: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

input, select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f5f5;
}

.country-postal {
  display: flex;
 gap: 1rem;
}

.country-postal div {
  flex: 1;
}

.continue-btn:hover {
  background: #222;
}

@media (max-width: 768px) { /* Tablets & larger phones */
  body {
    padding: 0.8rem; 
  }
  main {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  .item-section {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
  }
  
  .form-section {
    border-bottom-left-radius: 20px;
  }
  
  header {
    margin-top: 2rem;
  }
  
  h4 {
    font-size: 16px;
  }

  .item-section, 
  .form-section {
    width: 100%;
  }
}

@media (max-width: 480px) { /* Small Phones */
  h4 {
    font-size: 13px;
  }
  
  p {
    font-size: 12px;
  }

  main {
    padding: 0.4rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15); /* Adjusted for mobile */
  }

  .img-container {
    width: 50px;
    height: 50px;
    padding: 0.8rem;
  }

  .img-container img {
    max-width: 25px;
    max-height: 35px;
  }
}

.author-info{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 2rem;
}

.author-info a{
  text-decoration: none;
}

author-info a:hover{
  text-decoration: underline;
}